<!-- navbar.html -->
<div id="navbar-placeholder">
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
  
      <!-- Navbar brand -->
      <a class="navbar-brand" href="index.html"><img src="./assets/img/favicon.png" width="30" height="30" alt="Logo-image">&nbsp;Password Generator</a>
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
        </ul>
  
        <!-- Icons -->
        <ul class="navbar-nav d-flex flex-row me-1">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://github.com/AbinandhMJ" target="_blank"><img src="./assets/img/github-mark-white.svg" class="social-media" alt="github-logo"></a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.linkedin.com/in/abinandhmj/" target="_blank"><img src="./assets/img/linkedin logo.png" class="social-media" alt="linkedin-logo"></a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="mailto:abinandhmurukesan@gmail.com" target="_blank"><img src="./assets/img/mail.svg" class="social-media" alt="linkedin-logo"></a>
          </li>
        </ul>
  
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
</div>